<h1 align="center">Travels!</h1>
<div fxLayout fxLayoutAlign="center">
  <mat-form-field>
    <mat-label required>From:</mat-label>
    <input #fromWhere matInput type="text" name="fromCity">
  </mat-form-field>
</div>
<div fxLayout fxLayoutAlign="center">
  <mat-form-field>
    <mat-label required>To:</mat-label>
    <input #toWhere matInput type="text" name="toCity">
  </mat-form-field>
</div>

<div fxLayout fxLayoutAlign="center">
  <button mat-raised-button (click)='Search(fromWhere.value, toWhere.value)'>Search</button>
</div>
<h3>{{ errorMsg }}</h3>
<div *ngIf="showRoutes" fxLayoutAlign="center">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
    <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
    <mat-cell *matCellDef="let route"> {{route[column.columnDef]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>