<h1 align="center">Travels!</h1>
<div fxLayout fxLayoutAlign="center">
  <mat-form-field>
    <mat-label required>From:</mat-label>
    <input #fromWhere matInput type="text" name="fromCity">
  </mat-form-field>
</div>
<div fxLayout fxLayoutAlign="center">
  <mat-form-field>
    <mat-label required>To:</mat-label>
    <input #toWhere matInput type="text" name="toCity">
  </mat-form-field>
</div>

<div fxLayout fxLayoutAlign="center">
  <button mat-button (click)='Search(fromWhere.value, toWhere.value)'>Search</button>
</div>
<h3>{{ errorMsg }}</h3>

<div fxLayout fxLayoutAlign="center">
  <mat-list *ngFor="let route of routes">
    <mat-list-item>
      Train to {{route.toWhere}} arrive at {{route.arrivalTime}}.
    </mat-list-item>
    <mat-list-item>
    Train leaves at {{route.departureTime}}.
    </mat-list-item>
  </mat-list>
</div>